<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register GPS Tracker</title>
</head>
<body>
    <h2>Register GPS Tracker</h2>
    <form method="POST">
        <label for="EMEI">EMEI:</label>
        <input type="number" id="EMEI" name="EMEI" required>
        <br>
        <label for="Model_Name">Model Name:</label>
        <input type="text" id="Model_Name" name="Model_Name" required>
        <br>
        <label for="Activated_date">Activated Date:</label>
        <input type="date" id="Activated_date" name="Activated_date" required>
        <br>
        <label for="GPS_Experied_date">GPS Expired Date:</label>
        <input type="date" id=""GPS_Experied_date" name="GPS_Experied_date" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
